<div class="modal-header">
  <h4 class="modal-title">Create dish</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="dishCreateForm" name="createDishForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Dish name</label>
      <input type="text" class="form-control" id="name" placeholder="Dish name" formControlName="name">
    </div>

    <hr/>

    <button type="submit" class="btn btn-primary" [disabled]="dishCreateForm.invalid">Create</button>
  </form>
</div>
