/* You can add global styles to this file, and also import other style files */

.body-main {
  background: #f8f9fa;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.8;
  font-weight: 300;
  color: gray;
}

html {
  scroll-behavior: smooth;
}

