<div class="modal-header">
  <h4 class="modal-title">Update dish № {{dish.id}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="dishUpdateForm" name="updateDishForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Dish name" formControlName="name">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea type="text" class="form-control" id="description" placeholder="Dish description"
                formControlName="description"></textarea>
    </div>

    <div class="card-body">
      <div class="row">Photos:</div>

      <input
        style="display: none"
        type="file" id="file" (change)="onFileChanged(fileInput.files)"
        #fileInput>
      <button type="button" class="btn btn-success" (click)="fileInput.click()">Add photo</button>

      <hr/>
      <div class="row">
        <div *ngFor="let photoId of dish.photos" class="col-sm-2">
          <button type="button" class="close" aria-label="Close" (click)="deleteImage(photoId)">
            <span aria-hidden="true">&times;</span>
          </button>
          <img src="{{filesService.getFileUrl(photoId)}}" class="img-fluid mb-2 scale" alt="Not Found"/>
        </div>
      </div>
    </div>

    <hr/>
    <button type="submit" class="btn btn-primary" [disabled]="dishUpdateForm.invalid">Update</button>
  </form>
</div>
